.editorWrapper {
  --editor-content-height: min(var(--code-max-height, 100vh), var(--editor-height, 100%));
}

.editorWrapper :global(.sp-editor-viewer) {
  /* should be the same as editorStyle object */
  height: calc(var(--editor-content-height) + 40px + 16px);
}

@container sandbox (min-width: 72rem) {
  .editorWrapper :global(.cm-editor) {
    max-height: none;
  }
}

.editorWrapper :global(.cm-editor .cm-scroller) {
  padding-block: 0.5rem;
}

.editorWrapper :global(.cm-content) {
  font-size: 14px;
}

.editorWrapper {
  --highlight-bg: #f1f8ff;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

.editorPreview {
  animation: fade-in 300ms cubic-bezier(0, 0, 0.2, 1);
}
