---
import type { CollectionEntry } from 'astro:content';
import { clsx } from 'clsx';
import BlogPostPreview from './BlogPostPreview.astro';

export interface Props {
  blogs: Array<CollectionEntry<'blog'>>;
  tils: Array<CollectionEntry<'today-i-learnt'>>;
}

const { blogs, tils } = Astro.props;
---

<section class="@container/suggestions py-6">
  <h2 class="text-xl text-zinc-500 mb-8">You may also like:</h2>
  <div class="flex flex-col gap-4 -mx-2 @3xl/suggestions:grid @3xl/suggestions:grid-cols-3">
    {
      blogs.map((post, index) => (
        <>
          {index !== 0 && <hr class="@3xl/suggestions:hidden" />}
          <BlogPostPreview post={post} hideDate TitleElement="h3" class="px-2" />
        </>
      ))
    }
    {
      tils.map((til, index) => (
        <>
          {(index !== 0 || blogs.length > 0) && <hr class="@3xl/suggestions:hidden" />}
          <div class="TilItem h-full py-4">
            <div class="h-full relative flex justify-between items-center gap-4 @3xl/suggestions:flex-col @3xl/suggestions:justify-start @3xl/suggestions:items-start">
              <a href={`/today-i-learnt/${til.id}`} class="group/til TilLink">
                <div
                  class={clsx(
                    'TilBg absolute -inset-y-6 -inset-x-4 z-0 rounded-2xl',
                    'scale-95 bg-zinc-50 opacity-0 transition',
                    'group-hover/til:scale-100 group-hover/til:opacity-100'
                  )}
                />
                <div class="relative">
                  <h3 class="font-semibold tracking-tight text-zinc-800">{til.data.title}</h3>
                </div>
              </a>
              <a
                href="/today-i-learnt"
                class="relative text-xs text-zinc-600 flex-shrink-0 hover:text-primary-500"
              >
                Today I Learnt
              </a>
            </div>
          </div>
        </>
      ))
    }
  </div>
</section>
<script>
  import { setupShinyEffect } from '~/lib/shiny-effect';

  document.querySelectorAll('.TilItem').forEach((element) => {
    const link = element.querySelector('.TilLink');
    const coverElement = element.querySelector('.TilBg');

    if (
      link &&
      link instanceof HTMLElement &&
      coverElement &&
      coverElement instanceof HTMLElement
    ) {
      setupShinyEffect(coverElement, link);
    }
  });
</script>
