---
import { clsx } from 'clsx';
import { variantStyles, raisedStyles } from './Button';
---

<style>
  .GenericSignupForm:has(:invalid) .formkit-submit {
    background-color: #6cbeb8;
    cursor: default;
    border-color: transparent;
  }
</style>
<form
  action="https://app.convertkit.com/forms/4944229/subscriptions"
  class="seva-form formkit-form GenericSignupForm rounded-2xl border border-zinc-100 p-6"
  method="post"
  data-sv-form="4944229"
  data-uid="351a74e6d2"
  data-format="inline"
  data-version="5"
  data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""},"analytics":{"google":null,"fathom":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null,"googletagmanager":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":true,"url":"https://convertkit.com/features/forms?utm_campaign=poweredby&utm_content=form&utm_medium=referral&utm_source=dynamic"},"recaptcha":{"enabled":false},"return_visitor":{"action":"show","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
  min-width="400 500 600 700 800"
>
  <div data-style="minimal">
    <div class="formkit-header" data-element="header">
      <h2 class="flex text-sm font-semibold text-zinc-500">
        <span class="inline-block px-2">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="1.5"
            stroke-line-cap="round"
            stroke-line-join="round"
            aria-hidden="true"
            class="h-6 w-6 flex-none"
          >
            <path
              d="M2.75 7.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z"
              class="fill-zinc-100 stroke-zinc-400"></path>
            <path d="m4 6 6.024 5.479a2.915 2.915 0 0 0 3.952 0L20 6" class="stroke-zinc-400"
            ></path>
          </svg>
        </span>
        <span class="ml-3 leading-6 tracking-wider">STAY UP TO DATE</span>
      </h2>
    </div>

    <div class="formkit-subheader mt-2 text-sm text-zinc-500" data-element="subheader">
      Get notified when I publish something new. <br />Unsubscribe at any time.
    </div>

    <!-- prettier-ignore -->
    <ul
      class="formkit-alert formkit-alert-error"
      data-element="errors"
      data-group="alert"
    ></ul>

    <div data-element="fields" data-stacked="false" class="seva-fields formkit-fields mt-4 flex">
      <div class="formkit-field flex-auto">
        <input
          class={clsx(
            'formkit-input w-full h-full min-w-0 px-3 rounded-md border border-zinc-200 sm:text-sm placeholder:text-zinc-400',
            'bg-gradient-to-b from-zinc-50/70 via-white to-white'
          )}
          name="email_address"
          aria-label="Email address"
          placeholder="Email address"
          required=""
          type="email"
        />
      </div>

      <button
        data-element="submit"
        class={clsx(
          'formkit-submit formkit-submit',
          'text-sm px-4 py-2 ml-3 rounded-md border',
          variantStyles.primary,
          raisedStyles.primary,
          'offline:bg-zinc-400 offline:cursor-default offline:pointer-events-none'
        )}
        ><div class="formkit-spinner">
          <div></div><div></div><div></div>
        </div><span class="offline:hidden">Join</span><span class="hidden offline:inline"
          >Offline</span
        >
      </button>
    </div>
  </div>

  <style is:global>
    .formkit-form[data-uid='351a74e6d2'] .ordered-list,
    .formkit-form[data-uid='351a74e6d2'] .unordered-list {
      list-style-position: outside !important;
      padding-left: 1em;
    }
    .formkit-form[data-uid='351a74e6d2'] .list-item {
      padding-left: 0;
    }
    .formkit-form[data-uid='351a74e6d2'][data-format='modal'] {
      display: none;
    }
    .formkit-form[data-uid='351a74e6d2'][data-format='slide in'] {
      display: none;
    }
    .formkit-form[data-uid='351a74e6d2'][data-format='sticky bar'] {
      display: none;
    }
    .formkit-sticky-bar .formkit-form[data-uid='351a74e6d2'][data-format='sticky bar'] {
      display: block;
    }
    .formkit-form[data-uid='351a74e6d2'] .formkit-alert {
      background: #f9fafb;
      border: 1px solid #e3e3e3;
      border-radius: 5px;
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      list-style: none;
      margin: 25px auto;
      padding: 12px;
      text-align: center;
      width: 100%;
    }
    .formkit-form[data-uid='351a74e6d2'] .formkit-alert:empty {
      display: none;
    }
    .formkit-form[data-uid='351a74e6d2'] .formkit-alert-success {
      background: #d3fbeb;
      border-color: #10bf7a;
      color: #0c905c;
    }
    .formkit-form[data-uid='351a74e6d2'] .formkit-alert-error {
      background: #fde8e2;
      border-color: #f2643b;
      color: #ea4110;
    }
    .formkit-form[data-uid='351a74e6d2'] .formkit-spinner {
      display: flex;
      height: 0px;
      width: 0px;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 0px;
      overflow: hidden;
      text-align: center;
      transition: all 300ms ease-in-out;
    }
    .formkit-form[data-uid='351a74e6d2'] .formkit-spinner > div {
      margin: auto;
      width: 12px;
      height: 12px;
      background-color: #fff;
      opacity: 0.3;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: formkit-bouncedelay-formkit-form-data-uid-351a74e6d2- 1.4s infinite
        ease-in-out both;
      animation: formkit-bouncedelay-formkit-form-data-uid-351a74e6d2- 1.4s infinite ease-in-out
        both;
    }
    .formkit-form[data-uid='351a74e6d2'] .formkit-spinner > div:nth-child(1) {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    .formkit-form[data-uid='351a74e6d2'] .formkit-spinner > div:nth-child(2) {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
    .formkit-form[data-uid='351a74e6d2'] .formkit-submit[data-active] .formkit-spinner {
      opacity: 1;
      height: 100%;
      width: 50px;
    }
    .formkit-form[data-uid='351a74e6d2'] .formkit-submit[data-active] .formkit-spinner ~ span {
      opacity: 0;
    }
    @keyframes formkit-bouncedelay-formkit-form-data-uid-351a74e6d2- {
      0%,
      80%,
      100% {
        transform: scale(0);
      }
      40% {
        transform: scale(1);
      }
    }
    .formkit-form[data-uid='351a74e6d2'] blockquote {
      padding: 10px 20px;
      margin: 0 0 20px;
      border-left: 5px solid #e1e1e1;
    }
    .formkit-form[data-uid='351a74e6d2'] .seva-custom-content {
      padding: 15px;
      font-size: 16px;
      color: #fff;
      mix-blend-mode: difference;
    }
    .formkit-form[data-uid='351a74e6d2'] .formkit-modal.guard {
      max-width: 420px;
      width: 100%;
    }
    .formkit-form[data-uid='351a74e6d2'] {
      position: relative;
      overflow: hidden;
    }
  </style>
</form>
<script src="https://f.convertkit.com/ckjs/ck.5.js" is:inline></script>
