.avatar {
  view-transition-name: header-avatar;
}

.desktopNav {
  view-transition-name: header-desktop-nav;
}

.desktopNavActiveIndicator {
  view-transition-name: header-desktop-nav-active-indicator;
}

.mobileNav {
  view-transition-name: header-mobile-nav;
}

.mobileNavItem:has(a:hover) {
  @apply bg-zinc-50;
}
