---
import Header from './Header';
import Footer from './Footer';

export interface Props {
  isHomePage?: boolean;
  hideAvatar?: boolean;
  hideHeaderNav?: boolean;
  hideFooterNav?: boolean;
}

const { isHomePage, hideAvatar, hideHeaderNav, hideFooterNav } = Astro.props;
const currentPath = new URL(Astro.request.url).pathname;
---

<div class="fixed inset-0 flex justify-center sm:px-8">
  <div class="flex w-full lg:px-8 max-w-7xl">
    <div class="w-full bg-white ring-1 ring-zinc-100"></div>
  </div>
</div>
<div class="relative">
  <Header
    isHomePage={isHomePage || false}
    currentPath={currentPath}
    hideAvatar={hideAvatar}
    hideNav={hideHeaderNav}
    client:load
  />
  <main><slot /></main>
  <Footer hideNav={hideFooterNav} />
</div>
