---
import { CodeIcon, ChevronDownIcon, PlayIcon } from './icons';
import { LiveEditor } from './LiveEditor';
---

<style>
  [data-editor-code] {
    --code-max-height: 60vh;
  }

  [data-toggle-button][aria-active] svg {
    @apply -rotate-180;
  }
</style>

<div class="relative pt-3 border border-gray-100" data-live-editor>
  <div data-editor-code>
    <slot />
  </div>
  <div class="hidden mt-6" data-editor>
    <LiveEditor client:load>
      <slot />
    </LiveEditor>
  </div>
  <div
    class="absolute top-0 inset-x-0 flex justify-between items-center px-2 py-1 rounded-t bg-gray-100"
  >
    <span class="text-sm" data-editor-mode></span>
    <div class="inline-flex gap-2">
      <button
        type="button"
        class="p-1 bg-white rounded-full"
        data-edit-button
        aria-label="Edit"
      >
        <PlayIcon aria-hidden className="w-6 h-6 text-gray-500" />
      </button>
      <button
        type="button"
        data-cancel-button
        aria-label="Cancel"
        class="p-1 bg-white rounded-full hidden"
      >
        <CodeIcon aria-hidden className="w-6 h-6 text-gray-500" />
      </button>
      <button
        type="button"
        class="p-1 bg-white rounded-full"
        aria-label="Toggle Code"
        data-toggle-button
      >
        <ChevronDownIcon
          className="w-6 h-6 text-gray-500 stroke-current transition rotate-0"
        />
      </button>
    </div>
  </div>
</div>

<script>
  const liveEditors = document.querySelectorAll('[data-live-editor]');

  liveEditors.forEach(($editorSection) => {
    const $editButton = $editorSection.querySelector('[data-edit-button]');
    const $cancelButton = $editorSection.querySelector('[data-cancel-button]');
    const $code = $editorSection.querySelector('[data-editor-code]');
    const $editor = $editorSection.querySelector('[data-editor]');
    const $mode = $editorSection.querySelector('[data-editor-mode]');
    const $toggleButton = $editorSection.querySelector('[data-toggle-button]');

    if (
      $code &&
      $editButton &&
      $cancelButton &&
      $editor &&
      $mode &&
      $toggleButton
    ) {
      $editButton.addEventListener('click', () => {
        $editButton.classList.add('hidden');
        $cancelButton.classList.remove('hidden');
        $toggleButton.classList.add('hidden');
        $mode.textContent = 'Editing';
        const codeStyle = window.getComputedStyle($code);
        const codeHeight = codeStyle.getPropertyValue('height');
        $code.classList.add('hidden');
        $editor.classList.remove('hidden');
        ($editor as HTMLElement).style.setProperty(
          '--editor-height',
          codeHeight
        );
      });

      $cancelButton.addEventListener('click', () => {
        $cancelButton.classList.add('hidden');
        $editButton.classList.remove('hidden');
        $toggleButton.classList.remove('hidden');
        $mode.textContent = null;

        $editor.classList.add('hidden');
        $code.classList.remove('hidden');
      });

      let isExpanded = false;
      $toggleButton.addEventListener('click', () => {
        isExpanded = !isExpanded;
        if (isExpanded) {
          $toggleButton.setAttribute('aria-active', 'true');
          ($code as HTMLElement).style.setProperty('--code-max-height', 'none');
        } else {
          $toggleButton.removeAttribute('aria-active');
          ($code as HTMLElement).style.setProperty('--code-max-height', '60vh');
        }
      });
    }
  });
</script>
