---
import { CodeIcon, PlayIcon } from './icons';
import { LiveEditor } from './LiveEditor';
---

<div class="border border-gray-100" data-live-editor>
  <div
    class="flex justify-between items-center px-2 py-1 rounded-t bg-gray-100"
  >
    <span class="text-sm" data-editor-mode></span>
    <div class="inline-flex gap-2">
      <button
        type="button"
        class="p-1 bg-white rounded-full"
        data-edit-button
        aria-label="Edit"
      >
        <PlayIcon aria-hidden className="w-6 h-6 text-gray-500" />
      </button>
      <button
        type="button"
        data-cancel-button
        aria-label="Cancel"
        class="p-1 bg-white rounded-full hidden"
      >
        <CodeIcon aria-hidden className="w-6 h-6 text-gray-500" />
      </button>
    </div>
  </div>
  <div data-editor-code>
    <slot />
  </div>
  <div class="hidden" data-editor>
    <LiveEditor client:load>
      <slot />
    </LiveEditor>
  </div>
</div>

<script>
  const liveEditors = document.querySelectorAll('[data-live-editor]');

  liveEditors.forEach(($editorSection) => {
    const $editButton = $editorSection.querySelector('[data-edit-button]');
    const $cancelButton = $editorSection.querySelector('[data-cancel-button]');
    const $code = $editorSection.querySelector('[data-editor-code]');
    const $editor = $editorSection.querySelector('[data-editor]');
    const $mode = $editorSection.querySelector('[data-editor-mode]');

    if ($code && $editButton && $cancelButton && $editor && $mode) {
      $editButton.addEventListener('click', () => {
        $editButton.classList.add('hidden');
        $cancelButton.classList.remove('hidden');
        $mode.textContent = 'Editing';
        const codeStyle = window.getComputedStyle($code);
        const codeHeight = codeStyle.getPropertyValue('height');
        $code.classList.add('hidden');
        $editor.classList.remove('hidden');
        ($editor as HTMLElement).style.setProperty(
          '--editor-height',
          codeHeight
        );
      });

      $cancelButton.addEventListener('click', () => {
        $cancelButton.classList.add('hidden');
        $editButton.classList.remove('hidden');
        $mode.textContent = null;

        $editor.classList.add('hidden');
        $code.classList.remove('hidden');
      });
    }
  });
</script>
