---
import type { MarkdownHeading } from 'astro';
import { clsx } from 'clsx';
import { formatDate, isFuture } from '~/lib/date';
import MdToc from './MdToc.astro';
import './shiki.css';

export interface Props {
  title: string;
  headings?: Array<MarkdownHeading>;
  publishDate?: Date;
}

const { title, publishDate, headings } = Astro.props;

const isFutureContent = publishDate && isFuture(publishDate);

const levelTwoHeadings =
  headings && headings.filter((h) => h.depth === 2 && h.slug !== 'footnote-label');

const hasHeadings = levelTwoHeadings && levelTwoHeadings.length > 0;
---

<style>
  @screen xl {
    .toc {
      width: calc(1072px - 768px - 16px);
    }
  }

  .toc-item,
  .content-title {
    text-wrap: balance;
  }
</style>

<div class="mb-12">
  <article>
    <header class="flex flex-col mb-8 sm:pb-8 sm:border-b sm:border-gray-100">
      <div class={clsx('relative max-w-3xl w-full', hasHeadings ? 'mx-auto xl:ml-0' : 'mx-auto')}>
        {
          publishDate && (
            <p class="my-3 text-zinc-400 pl-4 border-l-4 border-l-zinc-100">
              {isFutureContent ? `To be published on ` : null}
              {formatDate(publishDate)}
            </p>
          )
        }
        <h1 class="content-title text-3xl sm:text-4xl font-bold w-full">
          {title}
        </h1>
      </div>
    </header>
    {hasHeadings && <MdToc headings={levelTwoHeadings} />}
    <div
      class={clsx('max-w-3xl prose', hasHeadings ? 'mx-auto xl:ml-0' : 'mx-auto')}
      data-md-content
    >
      <slot />
    </div>
  </article>
</div>

<script>
  import { createTooltip } from '~/lib/create-tooltip';

  const mdContents = document.querySelectorAll('[data-md-content]');

  mdContents.forEach((mdContent) => {
    const footNoteRef = mdContent.querySelectorAll('a[data-footnote-ref]');

    footNoteRef.forEach((el) => {
      const parentSupEl = el.closest('sup');

      if (!parentSupEl) {
        return;
      }

      const href = el.getAttribute('href');
      if (href) {
        const target = document.querySelector(href);
        if (target && target instanceof HTMLElement) {
          const childs: Array<Node> = [];
          target.childNodes.forEach((childNode) => {
            if (childNode instanceof HTMLElement) {
              const cloned = document.createElement('div');
              cloned.innerHTML = childNode.innerHTML;
              cloned.childNodes.forEach((grandChild) => {
                if (
                  grandChild instanceof HTMLElement &&
                  grandChild.hasAttribute('data-footnote-backref')
                ) {
                  grandChild.remove();
                }
              });
              childs.push(cloned);
            }
          });
          if (childs.length > 0) {
            const tooltipEl = document.createElement('div');
            tooltipEl.role = 'tooltip';
            childs.forEach((child) => tooltipEl.appendChild(child));
            const arrowEl = document.createElement('div');
            tooltipEl.appendChild(arrowEl);
            parentSupEl.insertAdjacentElement('afterend', tooltipEl);

            createTooltip({
              anchor: el,
              tooltip: tooltipEl,
              arrow: arrowEl,
            });
          }
        }
      }
    });
  });
</script>
