---
import type { MarkdownHeading } from 'astro';
import { clsx } from 'clsx';
import { StickyMdToc } from './sticky-md-toc';

export interface Props {
  headings: Array<MarkdownHeading>;
  /**
   * id for the label. Must be unique in the page.
   */
  labelId: string;
  class?: string;
}

const { headings, labelId } = Astro.props;
---

<nav
  class={clsx(
    'StickyMdToc hidden xl:flex xl:z-10 gap-3 sticky xl:pointer-events-auto top-14 w-[calc(1072px-768px-16px)] max-h-[calc(100vh-64px)] overflow-y-auto',
    'bg-white shadow rounded-xl overflow-hidden',
    Astro.props.class
  )}
  aria-labelledby={labelId}
>
  <StickyMdToc labelId={labelId} headings={headings} client:visible />
</nav>
