---
import { BellAlertIcon, BellSlashIcon } from './icons';
---

<button data-notification-subscribe-btn class="hidden text-primary-800 subscribable:text-zinc-400">
  <span class="hidden subscribable:inline" title="Subscribe Notification">
    <span class="sr-only">Subscribe Notification</span>
    <BellSlashIcon />
  </span>
  <span class="subscribable:hidden" title="Unsubscribe Notification">
    <span class="sr-only">Unsubscribe Notification</span>
    <BellAlertIcon />
  </span>
</button>
<script>
  import { toggleSubscription, isPushNotificationSupported } from '~/lib/notification';

  if (isPushNotificationSupported()) {
    document
      .querySelectorAll<HTMLButtonElement>('[data-notification-subscribe-btn]')
      .forEach((btn) => {
        btn.classList.remove('hidden');
        btn.addEventListener('click', () => {
          btn.disabled = true;
          btn.classList.add('animate-pulse', '!text-primary-800', 'opacity-50');
          toggleSubscription().then(() => {
            btn.disabled = false;
            btn.classList.remove('animate-pulse', '!text-primary-800', 'opacity-50');
          });
        });
      });
  }
</script>
