---
import { ReactCompilerPlayground as CompilerPlayground } from './react-compiler-playground';

interface Props {
  defaultSource: string;
  codeMaxHeight: string;
}

const { defaultSource, codeMaxHeight } = Astro.props;
---

<div class="relative full-blend border border-gray-200 rounded-md">
  <CompilerPlayground height={codeMaxHeight} defaultSource={defaultSource} client:only="react" />
</div>
