.editorWrapper :global(.cm-editor) {
  max-height: var(--code-max-height, none);
}

.editorWrapper :global(.cm-editor .cm-scroller) {
  padding-block: 0.5rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

.editorPreview {
  animation: fade-in 300ms cubic-bezier(0, 0, 0.2, 1);
}
