---
import { Image } from 'astro:assets';
import { clsx } from 'clsx';
import portraitImage from '../assets/portrait.jpg';
import BaseHead from '../components/BaseHead.astro';
import Container from '../components/Container';
import headerStyles from '../components/Header.module.css';
import Layout from '../components/Layout.astro';
import { Link } from '../components/Link';
import SocialIcons from '../components/SocialIcons';

const title = 'Malcolm Kee - Web developer, front end engineer';
---

<html lang="en">
  <head>
    <BaseHead title={title} description="UI Builder and Tool Creator" />
  </head>

  <body>
    <Layout hideAvatar>
      <Container className="sm:mt-32">
        <div class="lg:grid lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
          <div class="mb-12 md:mb-0 md:float-right md:p-4 lg:p-0 lg:float-none lg:pl-20">
            <div class="-mx-4 -mt-[4.5rem] sm:m-0 sm:px-2.5 sm:max-w-xs lg:max-w-none">
              <Image
                src={portraitImage}
                alt=""
                sizes="(min-width: 1024px) 32rem, 20rem"
                class={clsx(
                  'PortraitImage aspect-square sm:rotate-3 sm:rounded-2xl bg-zinc-100 object-cover',
                  headerStyles.avatar
                )}
                loading="eager"
              />
            </div>
          </div>
          <div class="lg:order-first lg:row-span-2">
            <h1 class="text-5xl sm:text-6xl font-techie tracking-tight text-zinc-800">
              <span class="font-bold">UI</span> Builder {'&'}<br /><span class="font-bold"
                >TOOL</span
              >
              Creator
            </h1>
            <div class="mt-6 space-y-7 text-base text-zinc-600">
              <p>
                Hi! I'm Malcolm Kee, a software engineer based in Sydney. I worked with a variety of
                programming languages and tools, but my focus is frontend technologies.
              </p>
              <p>
                I love building <Link href="/projects/">side projects</Link> for fun.
              </p>
              <p>
                I'm also passionate about sharing my expertise with others. As a co-organizer of a
                tech meetup, I designed and conducted <Link href="/workshops/">workshops</Link> on topics
                such as React and web development.
              </p>
              <p>
                In addition to my hands-on work, I also enjoy sharing my experience and opinions in <Link
                  href="/blog/"
                >
                  my blog
                </Link>.
              </p>
            </div>
          </div>
          <div class="lg:pl-20 mt-12 lg:mt-0">
            <SocialIcons variant="iconWithText" />
          </div>
        </div>
      </Container>
    </Layout>
    <script>
      const image = document.querySelector<HTMLImageElement>('.PortraitImage');

      if (image) {
        if (!image.complete) {
          image.classList.remove('sm:rotate-3');
          image.classList.add('transition');
          image.classList.add('duration-700');
          image.classList.add('-sm:rotate-3');

          image.addEventListener('load', () => {
            console.log('image loaded');
            image.classList.remove('-sm:rotate-3');
            image.classList.add('sm:rotate-3');
          });
        }
      }
    </script>
  </body>
</html>
