---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Layout from '../components/Layout.astro';
import Container from '../components/Container';
import SocialIcons from '../components/SocialIcons';

const title = 'Malcolm Kee - Web developer, front end engineer';
const description = `Building Functional and Accessible Web Apps: Get to Know Malcolm Kee`;

const { pathname } = Astro.url;

const permalink = new URL(pathname.replace(/\/$/, ''), Astro.site).toString();
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
    <Layout>
      <Container className="mt-16 sm:mt-32">
        <div
          class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12"
        >
          <div class="lg:pl-20">
            <div class="max-w-xs px-2.5 lg:max-w-none">
              <img
                src="/assets/portrait.jpg"
                alt=""
                sizes="(min-width: 1024px) 32rem, 20rem"
                class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover"
                width={433}
                height={433}
              />
            </div>
          </div>
          <div class="lg:order-first lg:row-span-2">
            <h1
              class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl"
            >
              {description}
            </h1>
            <div class="mt-6 space-y-7 text-base text-zinc-600">
              <p>
                Hi! I'm Malcolm Kee, a software engineer based in Sydney. I have
                experience working with a variety of programming languages and
                tools, but my focus has been primarily on frontend technologies.
              </p>
              <p>
                Outside of work, I love spending my free time building
                side-projects for fun, which you can browse in the <a
                  href="/projects"
                  class="text-primary-600 hover:text-primary-500">Projects</a
                > page.
              </p>
              <p>
                I'm also passionate about teaching and sharing my expertise with
                others. As a co-organizer of a tech meetup, I conducted
                workshops on React and web development. You can check out some
                of the workshop content on the <a
                  href="/workshops"
                  class="text-primary-600 hover:text-primary-500">Workshops</a
                > page.
              </p>
              <p>
                In addition to my hands-on work, I also enjoy sharing my
                thoughts and insights in <a
                  href="/blog"
                  class="text-primary-600 hover:text-primary-500">my blog</a
                >. I try to document what I learn and share my perspectives on
                industry trends and best practices.
              </p>
            </div>
          </div>
          <div class="lg:pl-20">
            <SocialIcons variant="iconWithText" />
          </div>
        </div>
      </Container>
    </Layout>
  </body>
</html>
