---
import { getBlogs } from '~/data/blog-helpers';
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import { BlogPostPreviewList } from '../components/BlogPostPreviewList';
import PageLayout from '../components/PageLayout.astro';

const title = 'Blogs - Malcolm Kee';
const description = 'My thoughts on technologies, books, or any other random topic.';

const allPosts = await getBlogs();
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <PageLayout>
      <span slot="title">Blogs</span>
      <span slot="description">{description}</span>
      <BlogPostPreviewList aria-label="Blog post list">
        {allPosts.map((p, index) => <BlogPostPreview post={p} isFeatured={index === 0} />)}
      </BlogPostPreviewList>
    </PageLayout>
  </body>
</html>
