---
import BaseHead from '~/components/BaseHead.astro';
import { Button } from '~/components/Button';
import PageLayout from '~/components/PageLayout.astro';
import BlogPostPreview from '~/components/BlogPostPreview.astro';
import SavePageButton from '~/components/SavePageButton.astro';
import { Tag } from '~/components/tag';
import { getEntry } from 'astro:content';
import { getTransformedImage } from '~/lib/cloudinary';
import { BlogPostPreviewList, BlogPostPreviewListItems } from '~/components/BlogPostPreviewList';
import ContentSuggestions from '~/components/ContentSuggestions.astro';

const viewTransitionApiData = await getEntry('blog', 'automating-refactoring-with-codemod');

if (!viewTransitionApiData) {
  throw new Error('viewTransitionApiData is undefined');
}

const viewTransitionApiPost = {
  ...viewTransitionApiData,
  heroImageInfo: viewTransitionApiData.data.heroImagePublicId
    ? await getTransformedImage(viewTransitionApiData.data.heroImagePublicId)
    : undefined,
};
const htmlCvData = await getEntry('blog', 'how-to-create-cv-using-html');

if (!htmlCvData) {
  throw new Error('htmlCvData is undefined');
}

const htmlCvPost = {
  ...htmlCvData,
  heroImageInfo: htmlCvData.data.heroImagePublicId
    ? await getTransformedImage(htmlCvData.data.heroImagePublicId)
    : undefined,
};
const flutterPost = await getEntry('blog', 'flutter-for-react-developers');
---

<html>
  <head>
    <BaseHead title="Design of malcolmkee.com" />
  </head>
  <body>
    <PageLayout>
      <span slot="title">Design</span>
      <span slot="description">design of this site</span>
      <div class="px-3">
        <div class="flex flex-col gap-40">
          <section>
            <h2 class="mb-6 text-zinc-300 font-medium uppercase">Typography</h2>
            <div class="prose">
              <p>
                <span class="inline-block w-24">Display:</span><span class="font-techie text-4xl"
                  >Chakra Petch</span
                >
              </p>
              <p><span class="inline-block w-24">Body:</span><span>System UI</span></p>
            </div>
          </section>
          <section>
            <h2 class="mb-6 text-zinc-300 font-medium uppercase">Components</h2>
            <div class="grid gap-3 lg:grid-cols-[max-content_1fr] lg:gap-y-20">
              <h3 class="font-techie text-lg">Button</h3>
              <div class="pb-8 lg:p-0">
                <div class="flex gap-3 flex-wrap">
                  <Button>Primary</Button>
                  <Button variant="secondary">Secondary</Button>
                  <Button flat>Primary Flat</Button>
                  <Button variant="secondary" flat>Secondary Flat</Button>
                  <Button disabled>Primary Disabled</Button>
                  <Button variant="secondary" disabled>Secondary Disabled</Button>
                </div>
              </div>
              <h3 class="font-techie text-lg">Tag</h3>
              <div class="pb-8 lg:p-0">
                <Tag href="#">design</Tag>
                <Tag href="#">development</Tag>
                <Tag href="#">reading</Tag>
              </div>
              <h3 class="font-techie text-lg">BlogPostPreview</h3>
              <div class="pb-8 lg:p-0">
                <BlogPostPreviewList>
                  <BlogPostPreview post={viewTransitionApiPost} isFeatured={true} />
                  <BlogPostPreviewListItems>
                    <BlogPostPreview post={htmlCvPost} />
                  </BlogPostPreviewListItems>
                </BlogPostPreviewList>
              </div>
              <h3 class="font-techie text-lg">ContentSuggestions</h3>
              <div class="pb-8 lg:p-0">
                <ContentSuggestions
                  blogs={[viewTransitionApiPost, htmlCvPost, flutterPost].filter(
                    (val) => val != null
                  )}
                  tils={[]}
                />
              </div>
              <h3 class="font-techie text-lg">SavePageButton</h3>
              <div class="pb-8 lg:p-0">
                <SavePageButton saveKey="saveKey" pageTitle="Design" _static />
              </div>
            </div>
          </section>
        </div>
      </div>
    </PageLayout>
  </body>
</html>
