---
import BaseHead from '~/components/BaseHead.astro';
import { Button } from '~/components/Button';
import PageLayout from '~/components/PageLayout.astro';
import { SavedPages } from '~/components/SavedPages';
---

<html>
  <head>
    <BaseHead title="No connection" excludeServiceWorker />
  </head>
  <body>
    <PageLayout noHeader hideHeaderNav hideFooterNav hideAvatar>
      <div class="mx-auto max-w-xl">
        <div class="text-center">
          <div class="online:hidden">
            <p class="text-base font-semibold text-primary-600">Offline</p>
            <h1
              class="font-techie mt-2 text-5xl sm:text-6xl font-bold tracking-tight text-gray-900"
            >
              Disconnected
            </h1>
            <p class="mt-2 text-lg text-gray-500 [text-wrap:balance]">
              We can't connect to the server. It could be your internet connection or an outage.
            </p>
            <div class="mt-8">
              <SavedPages client:load />
            </div>
          </div>
          <div class="hidden online:block">
            <p class="text-base font-semibold text-primary-600">Online</p>
            <h1
              class="font-techie mt-2 text-5xl sm:text-6xl font-bold tracking-tight text-gray-900"
            >
              Reconnected
            </h1>
            <p class="my-2 text-lg text-gray-500">Seems like you're back to online!</p>
            <div class="mt-8">
              <Button className="ReloadButton">Reload</Button>
            </div>
          </div>
        </div>
      </div>
      <script>
        const reloadButton = document.querySelector<HTMLButtonElement>('.ReloadButton');

        if (reloadButton) {
          reloadButton.addEventListener('click', () => window.location.reload());
        }
      </script>
    </PageLayout>
  </body>
</html>
