---
import type * as React from 'react';
import BaseHead from '../components/BaseHead.astro';
import PageLayout from '../components/PageLayout.astro';
import ProjectCard from '../components/ProjectCard';
import { projects } from '../data/projects';

const description =
  `I've worked on many projects over the years but these are the ones that` +
  ` I'm most proud of. Many of them are open-source, so if you see something that interests you,` +
  ` check out the code and contribute if you have ideas for how it can be improved.`;
---

<html lang="en">
  <head>
    <BaseHead
      title="Projects - Malcolm Kee"
      description={description}
      permalink={Astro.url.toString()}
    />
  </head>

  <body>
    <PageLayout>
      <span slot="title">Things I've made</span>
      <span slot="description">{description}</span>
      <ul role="list" class="grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3">
        {
          projects.map((project, index) => (
            <li
              style={{ '--i': index } as React.CSSProperties}
              class="item relative px-5 py-3 border border-zinc-100 rounded-2xl transition-colors hover:bg-zinc-50"
            >
              <div class="hover-target absolute top-0 left-0 right-0 bottom-0 rounded-2xl" />
              <ProjectCard project={project} className="relative h-full" />
            </li>
          ))
        }
      </ul>
    </PageLayout>
    <script>
      import { setupShinyEffect } from '~/lib/shiny-effect';

      document.querySelectorAll('.item').forEach((container) => {
        const item = container.querySelector('.hover-target');

        if (container instanceof HTMLElement && item && item instanceof HTMLElement) {
          setupShinyEffect(item, container);
        }
      });
    </script>
  </body>
</html>
