---
import BaseHead from '~/components/BaseHead.astro';
import PageLayout from '~/components/PageLayout.astro';
import { ReactApp } from '~/app/react-app';

const { pathname } = Astro.url;

const basename = pathname.replace(/\/(index.html)?$/, '');

const permalink = new URL(pathname.replace(/\/$/, ''), Astro.site).toString();
---

<html lang="en">
  <head>
    <BaseHead
      title="SPA demo"
      description="Demo of a Single Page App"
      permalink={permalink}
    />
  </head>
  <body>
    <PageLayout noHeader>
      <ReactApp basename={basename} client:only />
    </PageLayout>
  </body>
</html>
