---
import { ReactApp } from '~/app/react-app';
import BaseHead from '~/components/BaseHead.astro';
import PageLayout from '~/components/PageLayout.astro';

const { pathname } = Astro.url;

const permalink = new URL(pathname.replace(/\/$/, ''), Astro.site).toString();
---

<html lang="en">
  <head>
    <BaseHead
      title="SPA Demo"
      description="Demo of a Single Page App"
      permalink={permalink}
    />
  </head>
  <body>
    <PageLayout noHeader>
      <ReactApp currentPath="/spa" basename="/spa" client:load />
    </PageLayout>
  </body>
</html>
