---
import BaseHead from '@app/components/BaseHead.astro';
import NotificationSubscribeButton from '@app/components/NotificationSubscribeButton.astro';
import PageLayout from '@app/components/PageLayout.astro';
import { ContentUpdates } from '@app/components/content-updates';
import { getContents } from '@app/data/get-contents';

const contents = await getContents();
---

<html>
  <head>
    <BaseHead title="Updates" />
  </head>
  <PageLayout>
    <span slot="title" class="block">Updates</span>
    <NotificationSubscribeButton slot="action" />
    <ContentUpdates contents={contents} client:load />
  </PageLayout>
</html>
