---
import BaseHead from '~/components/BaseHead.astro';
import NotificationSubscribeButton from '~/components/NotificationSubscribeButton.astro';
import PageLayout from '~/components/PageLayout.astro';
import { ContentUpdates } from '~/components/content-updates';
import { getContents } from '~/data/get-contents';

const contents = await getContents();
---

<html>
  <head>
    <BaseHead title="Updates" />
  </head>
  <PageLayout>
    <span slot="title" class="block">Updates</span>
    <NotificationSubscribeButton slot="action" />
    <ContentUpdates contents={contents} client:load />
  </PageLayout>
</html>
