@import '../constants/variable';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  padding: $space $space * 2;
  grid-gap: 4em;
}

.list {
  list-style-type: none;
  padding: 0;
  line-height: 1.5;
}

.item {
  margin-bottom: $space;
  > a {
    display: inline-block;
    padding: $space / 4 0;
  }
}
