@import '../constants/variable';

.imageAttribution {
  text-align: right;
  padding: $space $space 0;
}

.imageAuthor {
  color: inherit;
  text-decoration: none;
}

.summary {
  color: $text-light;
  color: var(--text);
  padding: $space * 2 0;
  border-bottom: 1px solid $grey-300;
}

.summaryText {
  padding: $space $space * 2;
  line-height: 1.4em;
  font-size: 1.2rem;
  font-style: italic;
  font-family: $serif-font;
  max-width: $read-width;
  text-align: justify;
  margin: 0 auto;
}

.adjacentArticles {
  border-top: 1px solid $grey-400;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: $space * 2 0;

  > li {
    max-width: 100%;
  }

  a {
    display: inline-block;
    padding: $space / 2 $space;
    margin: $space 0;
    line-height: 1.5;
    vertical-align: middle;
    text-decoration: none;
    border-bottom: 1px solid;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.relatedBlogs {
  padding: $space * 3 $space * 2;
  border-top: 1px solid $grey-400;
  li {
    margin-bottom: $space;
  }
  @include link('a');
}
