@import '../constants/variable';

.blog-post {
  border-bottom: 1px solid $grey-400;
  margin-bottom: $spacing-unit;
  &--detail-container {
    display: flex;
    flex-wrap: wrap;
  }
  &--date,
  &--tag {
    flex: 1;
    display: flex;
    flex-shrink: 0;
    flex-basis: 125px;
    align-items: center;
    font-family: $font-family;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375em;
    color: $text-color-light;
  }
  &--content {
    padding: $spacing-unit 0;
    font-family: $font-family;
    p {
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.6em;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: $spacing-unit * 2;
      @media (min-width: $media-mobile) {
        font-size: 0.875rem;
        line-height: 1.464em;
      }
    }
    hr {
      margin: 0 0 $spacing-unit * 2;
      padding: 0;
      height: 1px;
      background: $grey-300;
    }
  }
}
