@import '../constants/variable';

.blog-post {
  border-bottom: 1px solid $grey-400;
  margin-bottom: $spacing-unit;
  &--detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $spacing-unit / 2 $spacing-unit * 2;
  }
  &--date,
  &--tag {
    display: flex;
    flex-shrink: 0;
    flex-basis: 250px;
    align-items: center;
    font-family: $font-family;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375em;
    margin-bottom: $spacing-unit;
    color: $text-color-light;
    a {
      text-decoration: none;
    }
  }
  &--summary {
    color: $text-color;
    padding: 0 $spacing-unit * 2;
    p {
      padding: $spacing-unit 0;
      line-height: 1.4em;
      border-bottom: 1px solid $grey-300;
    }
  }
  &--content {
    padding: $spacing-unit $spacing-unit * 2;
    font-family: $font-family;
    h2 {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }
    h3 {
      margin-top: 0.7rem;
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 0.5rem;
    }
    p,
    li {
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.6em;
      color: rgba(0, 0, 0, 0.87);
      @media (min-width: $media-mobile) {
        font-size: 0.875rem;
        line-height: 1.464em;
      }
    }
    hr {
      margin: 0 0 $spacing-unit * 2;
      padding: 0;
      height: 1px;
      background: $grey-300;
    }
  }
}
