@supports (display: grid) {
  @screen lg {
    .main {
      display: grid;
      grid-template-columns: 300px 42rem 1fr;
      grid-template-areas: 'toc content spacing';
    }
  }

  .content {
    grid-area: content;
  }
}
