@import '../constants/variable';

$right-nav-offset: 224px;

@keyframes expandX {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.instruction-template {
  @media (min-width: $media-mobile) {
    margin-right: $right-nav-offset;
  }

  &-container {
    padding: $appbar-height + $space $space 32px;

    @media screen and (min-width: $media-tablet) {
      padding-left: $space * 2;
      padding-right: $space * 2;
    }
  }

  &-report-issue-container {
    margin-top: $space * 3;
    padding: $space $space * 2;
    font-size: 0.8rem;
  }

  h1 {
    margin: 2rem 0;
    hyphens: auto;
  }

  .instruction-toc {
    line-height: 1.3;
    ul {
      margin: 0 0 0 1.75rem;
      padding: 0;
      list-style-position: outside;
    }
    li {
      margin-bottom: 0.8rem;
    }
  }

  .instruction-article {
    > h2 {
      border-bottom: 1px solid;
      border-bottom-color: inherit;
      line-height: 2;
    }

    :target {
      position: relative;
      border-bottom: none;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $link-light;
        background-color: var(--link);
        transform-origin: bottom left;
        animation: expandX 0.5s ease forwards;
        @media screen and (min-width: $media-mobile) {
          animation: expandX 1s ease forwards;
        }
      }
    }

    > p {
      text-align: justify;
      > img[src$='.gif'] {
        display: block;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: $media-mobile) {
          max-width: 400px;
        }
      }
    }

    li {
      margin-bottom: 0.5em;
    }

    img[src$='.svg'] {
      display: block;
      margin: 0 auto;
      max-width: 150px;
    }

    img.gatsby-resp-image-image {
      transition: box-shadow 300ms ease-in-out;
      // this important hack is necessary because the style was set as inline style;
      box-shadow: var(--bg) 0px 0px 0px 400px inset !important;
    }

    .code-editor,
    .code-snippet {
      break-inside: avoid;
      margin: $space #{-2 * $space};
      @media screen and (min-width: $media-tablet) {
        margin: $space 0;
      }
    }

    aside {
      font-style: italic;
      padding: 0 $space;
      border: 1px solid;
      border-radius: 4px;
      margin: $space * 2 -#{$space} $space * 2;
      break-inside: avoid;
      color: $text-light-pale;
      color: var(--text-pale);
      border-color: currentColor;

      > p {
        color: inherit;
        &:first-child {
          margin-top: 0.5em;
        }
        &:last-child {
          margin-bottom: 0.5em;
        }
      }
    }

    .pre-responsive-table + table {
      @media (max-width: 450px) {
        thead {
          display: none;
        }
        tr {
          display: flex;
          flex-flow: column;
          margin-bottom: $space;

          > td:first-child {
            border-bottom: none;
          }

          &:first-child {
            > td:first-child {
              border-top-color: hsla(0, 0%, 0%, 0.12);
              border-top-style: solid;
              border-top-width: 1px;

              body.dark & {
                border-top-color: #666666;
              }
            }
          }
        }
      }
    }

    details {
      padding: 0 $space $space * 2;
      > summary {
        cursor: pointer;
      }

      p {
        margin-top: $space;
      }
    }
  }

  .exercise {
    background-color: white;
    background-color: var(--bg-absolute);
    border-radius: $space;
    box-shadow: $box-shadow-3;
    padding: $space $space * 3;
    margin: $space * 2 #{-$space * 2};

    @media screen and (min-width: $media-tablet) {
      margin: $space * 2 0;
      padding: $space $space * 2;
    }

    > h3 {
      margin-top: 0;

      .header-link-icon svg {
        visibility: hidden;
      }
    }

    ol {
      padding-left: $space * 3;
      margin: 0;
      list-style-position: outside;
      list-style-type: decimal;
    }
  }
}
