@import '../constants/variable';

.skipLinkContainer {
  position: relative;
}

.routeSkipLink {
  opacity: 0;
  position: absolute;
  margin-left: -1.1rem;
  display: inline-block;
  line-height: 0;
  padding: 0.6rem 0.1rem;
  top: $space;

  &:focus,
  &:hover {
    opacity: 1;
  }
}

$tx-duration: 250ms;

@media screen and (min-width: $media-xlarge) {
  .link,
  .activeLink {
    position: relative;
    &::after {
      position: absolute;
      content: ' ';
      width: $space / 2;
      left: $space / 2;
      top: 0;
      background-color: $toc-light-selected;
      background-color: var(--tocSelected);
      transition-duration: $tx-duration;
      transition-timing-function: linear;
      transition-property: height;
    }
  }

  .link {
    &::after {
      height: 0%;
    }
  }

  .activeLink {
    &::after {
      height: 100%;
    }
  }
}

.objective {
  padding: $space $space * 2;
  margin: $space * 2 $space $space * 2 $space * 2;
  border-left: 4px solid $secondary-700;

  > p {
    margin-top: $size-1;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.3;
    padding-left: $size-2;
  }

  li {
    margin-bottom: $space * 2;
    line-height: 1.5;
  }
}
