@import '../constants/variable';

.skipLinkContainer {
  position: relative;
}

.routeSkipLink {
  opacity: 0;
  position: absolute;
  margin-left: -1.1rem;
  display: inline-block;
  line-height: 0;
  padding: 0.6rem 0.1rem;
  top: $space;

  &:focus,
  &:hover {
    opacity: 1;
  }
}
