@import '../constants/variable';

.skipLinkContainer {
  position: relative;
}

.routeSkipLink {
  opacity: 0;
  position: absolute;
  margin-left: -1.1rem;
  display: inline-block;
  line-height: 0;
  padding: 0.6rem 0.1rem;
  top: $space;

  &:focus,
  &:hover {
    opacity: 1;
  }
}

$tx-duration: 250ms;

@media screen and (min-width: $media-xlarge) {
  .link,
  .activeLink {
    position: relative;
    &::after {
      position: absolute;
      content: ' ';
      width: $space / 2;
      right: $space / 2;
      top: 0;
      background-color: $toc-light-selected;
      background-color: var(--tocSelected);
      transition-duration: $tx-duration;
      transition-timing-function: linear;
      transition-property: height;
    }
  }

  .link {
    &::after {
      height: 0%;
    }
  }

  .activeLink {
    &::after {
      height: 100%;
    }
  }
}
