@import '../constants/variable';

.container {
  max-width: 48em;
  max-width: 63ch;
  margin: 0 auto;
}

.title {
  padding: $space 0;
  font-size: 2rem;
  line-height: 1.3;
  @media screen and (min-width: $media-tablet) {
    font-size: 3rem;
  }
}

.list {
  list-style-type: none;
  padding: 0;
}

.item {
  display: inline-block;
  margin-right: $space;
}

.content {
  > p {
    line-height: 2;
  }
}
