@import '../constants/variable';

.content {
  position: relative;

  > p {
    line-height: 2;
  }

  @media screen and (min-width: $media-xlarge) {
    left: -30%;
    > aside {
      font-size: 0.8rem;
      line-height: 2.2;
      position: absolute;
      left: 100%;
      width: 350px;
      margin: 0;
      padding: 0 $space;
      transform: translate(0, -100%);

      > p {
        line-height: inherit;
      }

      pre {
        font-size: inherit;
      }
    }
  }
}

.toolbar {
  @media screen and (min-width: $media-xlarge) {
    position: relative;
    left: -30%;
  }
}
