@use '../../styles/variable' as v;

.box {
  display: inline-flex;
  box-sizing: content-box;
  justify-content: center;
  align-items: center;
  width: 7ch;
  height: 7ch;
  padding: v.$space;
  border: 1px solid;
  border-color: var(--text);

  @media screen and (max-width: v.$media-mobile) {
    font-size: 0.8rem;
  }
}

.container {
  @media screen and (min-width: v.$media-tablet) {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-column-gap: v.$space * 2;
    justify-items: center;
  }

  @media screen and (min-width: v.$media-desktop) {
    grid-template-columns: 1fr 300px;
  }

  @media screen and (min-width: v.$media-xlarge) {
    grid-template-columns: 1fr 500px;
  }
}

.board {
  max-width: 100%;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 0 auto;
}

.controls {
  padding: v.$space * 2 0;
}
