// light theme
$primary-color: #e44d26;
$primary-color-light: #ff7f52;
$primary-color-dark: #aa1100;
$secondary-color: #26e4a7;
$secondary-color-light: #70ffd9;
$secondary-color-dark: #00b178;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$bg-color-light: #fbfaef;
$bg-color-light-pale: rgba(228, 224, 205, 0.5);
$text-light: rgba(0, 0, 0, 0.87);
$text-light-pale: rgba(0, 0, 0, 0.54);
$link-light: $primary-color;

// dark theme
$bg-color-dark: #282c35;
$bg-color-dark-pale: #232323;
$text-dark: rgba(255, 255, 255, 0.88);
$text-dark-pale: rgba(255, 255, 255, 0.6);
$link-dark: $secondary-color;

$spacing-unit: 8px;
$font-family: 'Roboto', 'Helvetica', 'Arial', 'Microsoft Yahei', '微软雅黑',
  STXihei, '华文细黑', sans-serif;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$timing-function-1: cubic-bezier(0.61, 0, 0.2, 1);
$timing-function-overshoot: cubic-bezier(0.5, -0.5, 0.5, 1.5);

/* media queries */
$media-mobile: 576px;
$media-tablet: 720px;
$media-desktop: 960px;

/* shadows */
$box-shadow-1: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
$box-shadow-2: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
$box-shadow-3: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),
  0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
$box-shadow-3-inv: 0px -1px 8px 0px rgba(0, 0, 0, 0.2),
  0px -3px 4px 0px rgba(0, 0, 0, 0.14), 0px -3px 3px -2px rgba(0, 0, 0, 0.12);
$box-shadow-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$box-shadow-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
$box-shadow-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
$box-shadow-7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
  0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
$box-shadow-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
$box-shadow-8-inv: 0px -5px 5px -3px rgba(0, 0, 0, 0.2),
  0px -8px 10px 1px rgba(0, 0, 0, 0.14), 0px -3px 14px 2px rgba(0, 0, 0, 0.12);
$box-shadow-9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
  0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
$box-shadow-10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
  0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
$box-shadow-11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
  0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
$box-shadow-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
  0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
$box-shadow-13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
  0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
$box-shadow-14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
  0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
$box-shadow-15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
  0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
$box-shadow-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
  0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
$box-shadow-17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
  0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
$box-shadow-18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
  0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
$box-shadow-19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
  0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
$box-shadow-20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
  0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
$box-shadow-21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
  0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
$box-shadow-22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
  0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
$box-shadow-23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
  0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
$box-shadow-24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
  0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

@mixin link($selector) {
  #{$selector} {
    position: relative;
    text-decoration: none;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-property: border-bottom-color, color, transform, background-color;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $link-light;
      background-color: var(--link);
      transform-origin: center;
      transform: translate(-50%, 0) scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
  }
  #{$selector}:hover {
    color: $link-light;
    color: var(--link);
    &::before {
      transform: translate(-50%, 0) scaleX(1);
    }
  }
}

@mixin darkenImg() {
  filter: brightness(0.8);
}
