@import '../constants/variable';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  color: $link-light;
  color: var(--link);
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  &:active,
  &:hover {
    outline-width: 0;
  }
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: $font-family;
  font-display: swap;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: $primary-color;
  height: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  line-height: 1;
  background-color: $bg-color-light;
  color: $text-light;
  font-family: $font-family;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  transition: background-color 200ms ease-in-out;
  &.light {
    background-color: $bg-color-light;
    color: $text-light;
    --bg: #{$bg-color-light};
    --bg-pale: #{$bg-color-light-pale};
    --bg-absolute: white;
    --text: #{$text-light};
    --text-pale: #{$text-light-pale};
    --link: #{$link-light};
    --tocBg: #{$grey-100};
    --tocSelected: #{$toc-light-selected};
    --highlightedCode: #{$highlighted-code-bg-light};
  }
  &.dark {
    background-color: $bg-color-dark;
    color: $text-dark;
    --bg: #{$bg-color-dark};
    --bg-pale: #{$bg-color-dark-pale};
    --bg-absolute: black;
    --text: #{$text-dark};
    --text-pale: #{$text-dark-pale};
    --link: #{$link-dark};
    --tocBg: #{$grey-dark};
    --tocSelected: #{$toc-dark-selected};
    --highlightedCode: #{$highlighted-code-bg-dark};

    table,
    tr,
    th,
    td {
      border-color: #666666;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}
h1 {
  padding: $spacing-unit / 2 $spacing-unit * 2;
  font-family: $font-family;
  color: $text-light-pale;
  color: var(--text-pale);
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: $spacing-unit;
  line-height: 1.1;
}
table {
  width: 100%;
  padding: 0;
  margin: $spacing-unit * 2 0;
}
td,
th {
  font-size: 0.8rem;
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  padding-right: 1.16667rem;
  padding-top: 0.875rem;
  padding-bottom: calc(0.875rem - 1px);
}
.StandardSpacing {
  padding: 0 $spacing-unit * 2 $spacing-unit;
}
.bold {
  font-weight: bold;
}

.Toolbar {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  min-height: 56px;
  display: flex;
  align-items: center;
  padding: 0 $spacing-unit;
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
  &.space-between {
    justify-content: space-between;
  }
  &--space-vertical {
    margin: $spacing-unit * 3 0;
  }
  > .btn {
    margin: 0 $spacing-unit;
  }
}

.Layout {
  min-height: 100vh;
  position: relative;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.italic {
  font-style: italic;
}

@include link('.link-primary');

.link-primary {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  margin: $spacing-unit 0;
  padding: $spacing-unit / 2;
  min-width: 80px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: $spacing-unit / 2 $spacing-unit / 2 0 0;

  @media (min-width: $media-mobile) {
    min-width: 100px;
    padding: $spacing-unit / 2 $spacing-unit;
  }
}

.link-highlight {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  margin: $spacing-unit 0;
  padding: $spacing-unit / 2;
  min-width: 80px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    background-color: $link-light;
    background-color: var(--link);
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    color: $bg-color-light;
    color: var(--bg);
    border-bottom-color: transparent;
    &::before {
      transform: scaleX(1);
      transform-origin: center left;
    }
  }

  @media (min-width: $media-mobile) {
    min-width: 100px;
    padding: $spacing-unit / 2 $spacing-unit;
  }
}

.article-content {
  padding: $spacing-unit * 2;
  font-family: $font-family;

  .header-link-icon {
    float: left;
    padding-left: 4px;
    margin-left: -20px;
    svg path {
      fill: $link-light;
      fill: var(--link);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    &[id]:before {
      display: block;
      content: ' ';
      margin-top: -75px; // Set the Appropriate Height
      height: 75px; // Set the Appropriate Height
      visibility: hidden;
    }

    .header-link-icon svg {
      visibility: hidden;
    }

    &:hover {
      .header-link-icon svg {
        visibility: visible;
      }
    }
  }

  h2 {
    font-size: 1.6rem;
    margin-top: 1em;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    @media only screen and (max-width: 480px) {
      font-size: 1.4rem;
    }
  }
  h3 {
    margin: 1em 0 0.5rem;
    font-size: 1.2rem;
    line-height: 1.8em;
    @media only screen and (max-width: 480px) {
      font-size: 1.4rem;
    }
  }
  p {
    margin-bottom: 0;
    margin-top: 2em;
  }
  h3,
  h4,
  h5 {
    & + p {
      margin-top: 1em;
    }
  }

  ol,
  ul {
    li:first-child {
      p {
        margin-top: 0.5em;
      }
    }
  }
  em {
    font-style: italic;
  }
  img.blog-gif {
    display: block;
    width: 100%;
    &--narrow {
      @media (min-width: $media-mobile) {
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }

  @include link('a:not(.gatsby-resp-image-link)');

  a[href^="https://www.youtube.com"] {
    display: flex;
    justify-content: center;
    position: relative;
    &::after {
      content: '\25BA';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 120px;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  p,
  li {
    font-weight: 400;
    line-height: 1.6em;
    color: $text-light;
    color: var(--text);
  }
  hr {
    margin: 2em 0 0;
    padding: 0;
    height: 1px;
    background: $grey-300;
  }
  blockquote {
    border-radius: $spacing-unit;
    margin: 2em $spacing-unit;
    padding: $spacing-unit;
    background-color: $bg-color-light-pale;
    background-color: var(--bg-pale);
    position: relative;
    &::before {
      content: '\275d';
      position: absolute;
      font-size: 1.6rem;
      color: $text-light-pale;
      color: var(--text-pale);
    }
    &::after {
      content: '\275e';
      position: absolute;
      right: $spacing-unit;
      bottom: $spacing-unit;
      font-size: 1.6rem;
      color: $text-light-pale;
      color: var(--text-pale);
    }
    > p {
      position: relative;
      text-indent: $spacing-unit * 2;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  figure {
    margin: 1em auto;
    max-width: 800px;
  }

  figcaption {
    padding-top: 0.5em;
    text-align: right;
    line-height: 1.2;
  }

  .gatsby-highlight {
    margin-top: 1.75rem;
  }

  /* Inline code */
  code[class*='language-text'] {
    border-radius: 0.3em;
    background-color: $bg-color-light-pale;
    background-color: var(--bg-pale);
    padding: 0.15em 0.2em 0.05em;
    font-size: 0.8em;
    white-space: normal;
  }

  pre > code[class*='language-text'] {
    white-space: pre;
    display: block;
    padding: 1rem;
  }
}
