body {
  &.light {
    background-color: $bg-color-light;
    color: $text-light;
    --bg: #{$bg-color-light};
    --bg-pale: #{$bg-color-light-pale};
    --bg-absolute: white;
    --bg-front: white;
    --bg-mid: #{$grey-100};
    --text: #{$text-light};
    --text-pale: #{$text-light-pale};
    --link: #{$link-light};
    --tocBg: #{$grey-300};
    --tocSelected: #{$toc-light-selected};
    --tocHoverBg: #{$grey-300};
    --highlightedCode: #{$highlighted-code-bg-light};
    --primary-fade: #{$primary-300};
  }
  &.dark {
    background-color: $bg-color-dark;
    color: $text-dark;
    --bg: #{$bg-color-dark};
    --bg-pale: #{$bg-color-dark-pale};
    --bg-absolute: #{$grey-dark};
    --bg-front: #{$bg-color-dark-pale};
    --bg-mid: #{$grey-800};
    --text: #{$text-dark};
    --text-pale: #{$text-dark-pale};
    --link: #{$link-dark};
    --tocBg: #{$grey-dark};
    --tocSelected: #{$toc-dark-selected};
    --tocHoverBg: #{$grey-700};
    --highlightedCode: #{$highlighted-code-bg-dark};
    --primary-fade: #{$primary-800};

    table,
    tr,
    th,
    td {
      border-color: #666666;
    }
  }
}
