@import '../../constants/variable';

.root {
  padding: 0 $space * 2;
  font-size: 0.9em;
  border-top: 4px solid $primary-color;
  border-bottom: 4px solid $primary-color;
  border-radius: 4px;
  margin: $space * 6 -#{$space} $space * 2;
  break-inside: avoid;
  color: $text-light-pale;
  color: var(--text-pale);
  font-family: Crimson, Georgia, serif;

  > * {
    text-align: justify;
  }

  > p {
    line-height: 1.05;
    color: inherit;
    &:first-child {
      margin-top: 0.5em;
    }
    &:last-child {
      margin-bottom: 0.5em;
    }
    code[class*='language-text'] {
      padding: 0 0.2em;
      font-size: inherit;
    }
  }
}
