@import '../../constants/variable';

.root {
  padding: 0 $space;
  font-size: 0.9em;
  border: 1px solid;
  border-radius: 4px;
  margin: $space * 2 -#{$space} $space * 2;
  break-inside: avoid;
  color: $text-light-pale;
  color: var(--text-pale);
  border-color: currentColor;

  > p {
    line-height: 1.05;
    color: inherit;
    text-align: justify;
    font-family: 'Crimson', Georgia, serif;
    &:first-child {
      margin-top: 0.5em;
    }
    &:last-child {
      margin-bottom: 0.5em;
    }
    code[class*='language-text'] {
      padding: 0 0.2em;
      font-size: inherit;
    }
  }
}
