@import '../../constants/variable';

.root {
  background-color: white;
  background-color: var(--bg-absolute);
  border-radius: $space;
  box-shadow: $box-shadow-3;
  padding: $space $space * 3;
  margin: $space * 2 #{-$space * 2};

  @media screen and (min-width: $media-tablet) {
    margin: $space * 2 0;
    padding: $space $space * 2;
  }

  ol {
    padding-left: $space * 3;
    margin: 0;
    list-style-position: outside;
    list-style-type: decimal;
  }
}

.head {
  margin-top: 0;
}
