@import '../../constants/variable';

.workshop-navbar {
  min-height: $appbar-height;
  padding: $space $space * 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: $zindex-appbar;
  box-shadow: $box-shadow-1;
  transition: top 350ms ease-in-out;

  > a {
    font-family: 'Roboto', 'Helvetica', 'Arial', 'sans serif';
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
  }

  &-toolbar {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    > * {
      margin: 0 $space;
    }
  }
}
