@import '../../constants/variable';

.table-of-content-section {
  padding: $space 0;
  background-color: $grey-100;
  background-color: var(--bg-mid);
  overflow-x: hidden;
  position: fixed;
  top: $appbar-height;
  bottom: 0;
  left: 0;
  transition: right 350ms ease-in-out;

  @media screen and (max-width: $media-mobile) {
    z-index: $zindex-toc;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    transition: opacity 350ms ease-in-out;

    .table-of-content-inner-container {
      max-width: none;
      transform: translate(0px, 40px);
      transition: transform 350ms ease-in-out;
    }

    &.table-of-content-section--open {
      opacity: 1;
      pointer-events: auto;

      .table-of-content-inner-container {
        transform: translate(0px, 0px);
      }
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    padding: 0 $space;
    line-height: 1.75;
    margin-bottom: 0;
    &.toc-section-title {
      display: block;
      padding: $space $space * 2;

      > button {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        appearance: none;
        width: 100%;
        text-align: left;
        border: none;
        cursor: pointer;
        background: transparent;
        color: inherit;

        &:hover,
        &:focus {
          color: $toc-light-selected;
          color: var(--tocSelected);
        }
      }

      svg {
        display: none;
        transition: transform 0.5s ease;
      }

      @media screen and (min-width: $media-mobile) {
        svg {
          display: inline;
        }
      }

      &--active {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.table-of-content-inner-container {
  min-width: 180px;
  margin: 0px auto;
  padding-bottom: $ios-bottom-offset;
  max-width: $size-10;
  @media screen and (min-width: $media-tablet) {
    max-width: $size-11;
  }
}

.table-of-content-workshop-title {
  position: sticky;
  top: 0;
  z-index: $zindex-toc-title;
  display: flex;
  align-items: center;
  line-height: 1.2;
  padding: $space $space * 2;
  margin-bottom: $space;

  > img {
    margin-right: $space;
  }

  @media screen and (min-width: $media-mobile) {
    display: none;
  }
}

.toc-link {
  color: inherit;
  color: var(--tocLabel);
  font-size: 0.8rem;
  display: block;
  padding: $space / 2 $space * 2;
  text-decoration: none;
  position: relative;
  transform-origin: 0% 50%;
  border-radius: 0;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out,
    left 500ms ease-in-out, border-radius 500ms ease-in-out;
  right: 0;

  &:hover,
  &:focus {
    background-color: var(--tocHoverBg);
  }

  &.toc-link--active {
    border-radius: $space * 2 0 0 $space * 2;
    color: $toc-light-selected;
    color: var(--tocSelected);
    background-color: $bg-color-light;
    background-color: var(--bg);
    right: -$space;
    box-shadow: 0 2px 0 hsla(0, 0%, 100%, 0.15),
      inset 0 2px 2px hsla(0, 0%, 0%, 0.1);

    &:hover {
      cursor: default;
    }
  }
}

.toc-link-item {
  @media screen and (min-width: $media-mobile) {
    max-height: 0;
    transition: max-height 0.5s ease;
    overflow: hidden;

    &--active-section {
      max-height: 150px;
    }
  }
}
