@import '../../constants/variable';

.table-of-content-section {
  padding: $spacing-unit 0;
  background-color: $grey-200;
  background-color: var(--tocBg);
  overflow-x: hidden;
  position: fixed;
  top: $appbar-height;
  bottom: 0;
  right: 0;
  transition: right 350ms ease-in-out;

  @media screen and (max-width: $media-mobile) {
    z-index: $zindex-toc;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    transition: opacity 350ms ease-in-out;

    .table-of-content-inner-container {
      max-width: none;
      transform: translate(0px, 40px);
      transition: transform 350ms ease-in-out;
    }

    &.table-of-content-section--open {
      opacity: 1;
      pointer-events: auto;

      .table-of-content-inner-container {
        transform: translate(0px, 0px);
      }
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    padding: 0 $spacing-unit;
    line-height: 1.75;
    margin-bottom: 0;
    &.toc-section-title {
      display: block;
      padding: $spacing-unit $spacing-unit * 2;

      > button {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        appearance: none;
        width: 100%;
        text-align: left;
        border: none;
        cursor: pointer;
        background: transparent;
        color: inherit;
      }

      svg {
        display: none;
        transition: transform 0.5s ease;
      }

      @media screen and (min-width: $media-mobile) {
        svg {
          display: inline;
        }
      }

      &--active {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.table-of-content-inner-container {
  max-width: 225px;
  min-width: 180px;
  margin: 0px auto;
  padding-bottom: $ios-bottom-offset;
}

.toc-link {
  color: inherit;
  color: var(--tocLabel);
  font-size: 0.75rem;
  display: block;
  padding: $spacing-unit / 2 $spacing-unit * 2;
  text-decoration: none;
  position: relative;
  transform-origin: 0% 50%;
  transition: color 300ms ease-in-out, left 500ms ease-in-out;
  left: 0;

  &:hover {
    color: $toc-light-hover;
    color: var(--tocHover);
  }

  &::before {
    content: ' ';
    display: block;
    background-color: currentColor;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 4px;
    transition: transform 300ms ease-in-out;
    transition-delay: 0s;
    transform: scaleY(0);
  }

  &.toc-link--active {
    color: $toc-light-selected;
    color: var(--tocSelected);
    left: -$spacing-unit;

    &::before {
      transform: scaleY(1);
      transition-delay: 500ms;
    }

    &:hover {
      cursor: default;
    }
  }
}

.toc-link-item {
  @media screen and (min-width: $media-mobile) {
    max-height: 0;
    transition: max-height 0.5s ease;
    overflow: hidden;

    &--active-section {
      max-height: 150px;
    }
  }
}
