@import '../../constants/variable';

.toggle-toc-btn {
  position: fixed;
  z-index: $zindex-toc-toggle-btn;
  bottom: 44px; // iOS Safari's inert "bottom 44px"
  cursor: pointer;
  right: 20px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-tap-highlight-color: transparent;
  transform: scale(1) rotate(0deg);
  transition: transform 0.5s ease;

  @media screen and (min-width: $media-mobile) {
    display: none;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
  }
}
