.focus {
  view-transition-name: animated-dialog-focus;
}

::view-transition-old(animated-dialog-focus),
::view-transition-new(animated-dialog-focus) {
  height: 100%;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.backdrop {
  animation: fade 200ms ease;
  view-transition-name: animated-dialog-backdrop;
}
