@import '../../../src/constants/variable';

/* @mixin box-offset($index) {
  top: $space + (($space + 25px) * $index);
  left: $space * 2;
}

$indexes: 0, 1, 2, 3; */

#filter-demo {
  position: relative;
  height: 175px;
  background: white;
  background: var(--bg-absolute);
  max-width: 500px;
  margin: 0 auto;

  .box-container {
    position: relative;
    height: 100%;
    width: calc(100% - 40px);
  }

  .box {
    transition-property: left opacity;
    transition-timing-function: linear;
    transition-duration: 0s;

    &:nth-child(1) {
      background: yellowgreen;
      /* @include box-offset(0); */
    }

    &:nth-child(2) {
      background: maroon;
      /* @include box-offset(1); */
    }

    &:nth-child(3) {
      background: orchid;
      /* @include box-offset(2); */
    }

    &:nth-child(4) {
      background: orange;
      /* @include box-offset(3); */
    }

    &:nth-child(5) {
      background: darkcyan;
      /* @include box-offset(4); */
    }
  }

  &.activated {
    .box {
      left: 100%;
      transition-duration: 1s;
    }
    .filtered {
      opacity: 0;
    }
  }
}
