@import '../constants/variable';

.landing-page {
  &-content {
    background-color: #efefef;
    background-image: linear-gradient(#fff, #eee);
  }

  &-section {
    &-content {
      padding: $spacing-unit * 3 $spacing-unit * 2;
      max-width: 960px;
      margin: 0 auto;

      @include link('a:not(.btn)');
    }
  }

  &-form-container {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  }
}
