@import '../constants/variable';

.IndexPage {
  max-width: 960px;
  margin: 0 $spacing-unit * 2;
  display: flex;
  height: 100vh;
  flex-flow: column;
  justify-content: center;
  @media (min-width: $media-tablet) {
    display: flex;
    margin: 0 auto;
    flex-flow: row-reverse;
    align-items: center;
    min-height: 50vh;
  }
  h1 {
    position: relative;
    @media (min-width: $media-tablet) {
      font-size: 5rem;
      font-weight: 400;
      color: $text-color-light;
      margin-bottom: 0;
    }
  }
  &--profile-photo {
    width: 100px;
    height: 100px;
    float: left;
    object-fit: cover;
    margin-right: $spacing-unit;
    margin-bottom: $spacing-unit;
    border-radius: 50%;
    shape-outside: circle(52%);
    @media (min-width: $media-tablet) {
      width: 150px;
      height: 150px;
    }
  }
  &--panel {
    margin: $spacing-unit 0;
    @media (min-width: $media-tablet) {
      flex: 1;
    }
  }
  &--greeting {
    display: flex;
    justify-content: space-between;
    margin-right: $spacing-unit * 2;
    position: relative;
  }
  &--text {
    position: relative;
    z-index: 2;
    margin-left: $spacing-unit * 2;
    margin-bottom: $spacing-unit;
  }

  .List {
    &--ListItem {
      border-radius: $spacing-unit;
      border-bottom: 0;
      margin-bottom: $spacing-unit * 2;
      box-shadow: $box-shadow-1;
    }
    @media (min-width: $media-tablet) {
      max-width: 240px;
      margin-left: auto;
      &--ListItem {
        flex-flow: row-reverse;
        text-align: center;
        box-shadow: $box-shadow-1;
        &:first-child {
          transform: translateX(-24px);
        }
      }
      &--ListItemIcon {
        margin-left: $spacing-unit * 2;
      }
    }
  }
}
