@import '../constants/variable';

.landing-page {
  &-content {
    background-color: $bg-color-light;
    background-color: var(--bg);
  }

  &-section {
    &-content {
      padding: $spacing-unit * 3 $spacing-unit * 2;
      max-width: 800px;
      margin: 0 auto;

      @include link('a:not(.btn):not(.link-highlight)');

      h2 {
        margin-bottom: $spacing-unit * 2;
      }
    }
    &-group {
      display: flex;
      max-width: 800px;
      margin: 0 auto;
    }
    &-group &-content {
      text-align: center;
    }

    @media (max-width: $media-mobile) {
      a {
        text-align: inherit;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &-form-container {
    $max-width: 500px;

    max-width: $max-width;
    text-align: center;
    margin: 0 auto;
    padding: $space $space * 2;
    color: white;
    background-color: $bg-color-dark;
    text-shadow: 0px 1px 5px #222, 0px 1px 5px #333;
    box-shadow: $box-shadow-6;

    @media screen and (min-width: $max-width + $space * 4) {
      border-radius: $space * 3;
    }

    > h2 {
      z-index: 1;
      position: relative;
      margin: $spacing-unit auto $spacing-unit * 2;
      min-width: 200px;
      display: inline-block;
      padding: $spacing-unit;
      background-color: $primary-color;
    }

    &::after,
    &::before {
      filter: blur(12px);
      margin: -30px;
      top: 30px !important;
      left: 30px !important;
    }

    .form-control,
    .label {
      color: inherit;
    }

    .form-control {
      border-bottom-color: $grey-400;
    }

    .field--focused {
      label {
        color: $primary-color-light;
      }
    }
  }
}
