@import '../constants/variable';

.details {
  @media screen and (min-width: $media-tablet) {
    display: flex;
  }
}

.content,
.demo {
  display: inline-block;
  margin: $space 0;
  flex: 1;
  max-width: 600px;
}

.demo {
  text-align: center;
}

.image {
  max-height: 100%;
  display: block;
}

.imageWrapper {
  margin: 0 auto;
  max-height: 100%;
}

.btn {
  margin: 0 $space;
}
