@import '../constants/variable';

.ProjectPage {
  &--project {
    .card--content {
      @include link(a);
    }
    margin: $spacing-unit * 2 0;
    h2 {
      margin-bottom: $spacing-unit;
      line-height: 1.2;
    }

    ul {
      margin-bottom: 0;
    }

    p,
    li {
      line-height: 1.5;
    }
  }

  &--project-links {
    > .btn {
      margin: 0 $spacing-unit;
    }
  }

  &--demo-image {
    width: 100%;
    text-align: center;
    border-top: 1px solid $grey-300;
    padding: $spacing-unit 0;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      max-width: 100%;
    }
  }

  @media screen and (min-width: $media-mobile) {
    &--project {
      display: flex;
    }

    &--demo-image {
      order: -1;
      width: 250px;
      min-width: 250px;
      border-top: 0;
      padding: 0;
      > img {
        width: 100%;
      }
    }
  }

  @media screen and (min-width: $media-tablet) {
    &--demo-image {
      width: 300px;
      min-width: 300px;
    }
  }
}

body.dark {
  .ProjectPage {
    &--demo-image {
      > img {
        @include darkenImg();
      }
    }
  }
}
