@import '../constants/variable';

.logo {
  width: 150px;
  margin: $space;
  display: inline-block;
  vertical-align: middle;

  @media screen and (min-width: $media-mobile) {
    margin: $space * 3;
    width: 250px;
  }
}
