@import '../constants/variable';

.content {
  margin: 0 * 2 auto;
  padding: $space * 3 $space * 2 $space;
  max-width: 960px;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.3;

  a {
    color: inherit;
  }

  p {
    margin: $space 0;
  }
}

.contentLeft {
  text-align: left;
  max-width: unset;

  @media screen and (min-width: $media-tablet) {
    margin-left: $space * 2;
  }
}

.contentRight {
  text-align: right;
  max-width: unset;

  @media screen and (min-width: $media-tablet) {
    margin-left: $space * 2;
  }
}
