---
import BaseHead from '../components/BaseHead.astro';
import '~/components/shiki-v2.css';
import '@shikijs/twoslash/style-rich.css';

const { content } = Astro.props;
const { title } = content;
---

<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>

  <body>
    <div class="p-6">
      <main class="max-w-3xl mx-auto prose">
        <slot />
      </main>
    </div>
  </body>
</html>
