---
import BaseHead from '../components/BaseHead.astro';

const { content } = Astro.props;
const { title } = content;

const { pathname } = Astro.url;

const permalink = new URL(pathname.replace(/\/$/, ''), Astro.site).toString();
---

<html lang="en">
  <head>
    <BaseHead title={title} permalink={permalink} />
  </head>

  <body>
    <div class="p-6">
      <main class="max-w-3xl mx-auto prose">
        <slot />
      </main>
    </div>
  </body>
</html>
