@import '../constants/variable';

.btn {
  padding: $spacing-unit $spacing-unit * 2;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  min-height: 36px;
  min-width: 88px;
  font-family: $font-family;
  border-radius: 2px;
  color: $primary-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: background-color 250ms $timing-function 0ms,
    box-shadow 250ms $timing-function 0ms;
  &:focus {
    outline: none;
    filter: brightness(120%);
  }
  &:hover {
    background: #eeeeee;
  }
  &.primary {
    color: $primary-color;
    &:focus {
      border: 1px solid $primary-color;
    }
    &:hover {
      color: $primary-color-dark;
    }
  }
  &.raised {
    box-shadow: $box-shadow-2;
    &.primary {
      color: white;
      background: $primary-color;
      &:hover {
        background: $primary-color-dark;
      }
    }
    &.active {
      box-shadow: $box-shadow-8;
    }
  }
}
