@import '../constants/variable';

.btn {
  padding: $spacing-unit $spacing-unit * 2;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  min-height: 36px;
  min-width: 88px;
  font-family: $font-family;
  color: $primary-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 5px;
  transition: background-color 250ms $timing-function 0ms,
    box-shadow 250ms $timing-function 0ms;
  &:focus {
    outline: none;
    filter: brightness(120%);
    border-color: $primary-color;
  }
  &:hover {
    background: #eeeeee;
  }
  &.primary {
    border-color: transparent;
    &:focus {
      border-color: $primary-color;
    }
    &:hover {
      color: $primary-color-dark;
    }
  }
  &.secondary {
    color: $secondary-color-dark;
    border-color: transparent;
    &:focus {
      border-color: $secondary-color;
    }
  }
  &.raised {
    box-shadow: $box-shadow-2;
    border-width: 2px;
    border-style: solid;
    &.primary {
      border-color: transparent;
      color: white;
      background: $primary-color;
      &:hover {
        background: $primary-color-dark;
      }
      &:focus {
        border-color: white;
      }
    }
    &.secondary {
      border-color: transparent;
      color: #444;
      background: $secondary-color;
      &:hover {
        background: $secondary-color-light;
      }
      &:focus {
        border-color: white;
      }
    }
    &.active {
      box-shadow: $box-shadow-8;
    }
  }

  &.full-width {
    width: 100%;
  }
}
