@import '../constants/variable';

@mixin svg-icon {
  width: 25px;
  height: 25px;
  svg {
    color: inherit;
    fill: currentColor;
  }
}

@mixin language-label {
  position: absolute;
  z-index: 1; // else will be hidden by code editor
  top: 100%;
  right: $space * 2;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 0.7rem;
  background-color: $react-color;
  color: $text-light;
  padding: 0 $space;
  border-radius: 0 0 $space / 2 $space / 2;
}

.code-editor {
  padding: 0 $space / 2 $space / 2;
  border-radius: $space / 2;
  background-color: var(--bg-pale);
  line-height: 1.25rem;

  > header {
    position: relative;
    padding: $space;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-icon {
    @include svg-icon();
  }

  &-language {
    @include language-label();
  }
}

.code-preview {
  font-family: $font-family;
  padding: 0 $space;

  .log-output {
    width: 100%;
    overflow: auto;
    line-height: 1.75;
    &::before {
      content: '> ';
    }
  }
}

.code-error {
  padding: $space;
  margin-bottom: 0;
  background-color: #f44336;
  font-weight: bold;
}

.code-snippet {
  $code-padding: 1rem;
  $highlight-width: 0.25rem;

  padding: 0 $space / 2 $space / 2;

  background-color: var(--bg-pale);
  > header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space;
  }

  pre {
    font-size: 0.9rem;
    padding: $code-padding;
    line-height: 1.25rem;
    overflow-x: auto;
  }

  &-icon {
    @include svg-icon();
  }

  &-language {
    @include language-label();
  }

  .highlighted-code-line {
    background-color: $highlighted-code-bg-light;
    background-color: var(--highlightedCode);
    display: block;
    margin-right: -$code-padding;
    margin-left: -$code-padding;
    padding-right: $code-padding;
    padding-left: $code-padding - $highlight-width;
    border-left: $highlight-width solid $secondary-color;
  }
}
