@import '../constants/variable';

.code-editor {
  padding: 0 $spacing-unit / 2 $spacing-unit / 2;
  border-radius: $spacing-unit / 2;
  background-color: var(--bg-pale);
  line-height: 1.25rem;

  > header {
    padding: $spacing-unit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      font-family: $font-family;
      font-size: 0.9rem;
      font-style: italic;
    }
  }
}

.code-preview {
  font-family: $font-family;
  padding: 0 $spacing-unit;

  .log-output {
    width: 100%;
    overflow: auto;
    line-height: 1.75;
    &::before {
      content: '> ';
    }
  }
}

.code-error {
  padding: $spacing-unit;
  margin-bottom: 0;
  background-color: #f44336;
  font-weight: bold;
}

.code-snippet {
  $code-padding: 1rem;
  $highlight-width: 0.25rem;

  padding: 0 $spacing-unit / 2 $spacing-unit / 2;

  background-color: var(--bg-pale);
  > header {
    text-align: right;
    padding: $spacing-unit;
  }

  pre {
    font-size: 0.9rem;
    padding: $code-padding;
    line-height: 1.25rem;
    overflow-x: auto;
  }

  .highlighted-code-line {
    background-color: $highlighted-code-bg-light;
    background-color: var(--highlightedCode);
    display: block;
    margin-right: -$code-padding;
    margin-left: -$code-padding;
    padding-right: $code-padding;
    padding-left: $code-padding - $highlight-width;
    border-left: $highlight-width solid $secondary-color;
  }
}
