@import '../constants/variable';

.root {
  padding: $space * 2;
  box-shadow: $box-shadow-2;
  border-radius: 8px;
  background-color: $grey-100;
  background-color: var(--bg-mid);
}
.header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: $space;
}

.actions {
  padding-top: $space;
}

.info {
  padding: $space * 2 $space;
  font-style: italic;
}

.comment {
  @include link('a');
  position: relative;
  display: flex;
  padding: $space 0;
  @media screen and (min-width: $media-tablet) {
    padding: $space;
  }
}
.avatar {
  margin-right: $space;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @media screen and (min-width: $media-tablet) {
      width: 60px;
      height: 60px;
    }
  }
}
.author {
  font-size: 0.8em;
  padding: 0 $space;
  margin-right: 40px;
  line-height: 1.5;
  > a {
    text-decoration: none;
  }
}
.content {
  padding: 0 $space $space $space;
  line-height: 1.8;
}
.link {
  position: absolute;
  top: $space;
  right: $space;
  a {
    text-decoration: none;
  }
}
