@import '../constants/variable';

[data-reach-dialog-overlay] {
  z-index: $zindex-dialog;
}

[data-reach-dialog-content] {
  background: white;
  background: var(--bg-absolute);
  padding: 0;
  border-radius: $space * 3;

  @media screen and (max-width: $media-tablet) {
    width: 90vw;
  }
}

.dialog {
  &-content {
    position: relative;
    padding: 2rem;

    @media screen and (max-width: $media-tablet) {
      padding: 1rem;
    }
  }

  &-close-btn {
    position: absolute;
    z-index: 1;
    top: $space;
    right: $space;
    background: inherit;
    color: inherit;

    &:hover {
      background: inherit;
      color: inherit;
    }

    svg {
      fill: currentColor;
      stroke: currentColor;
    }
  }
}
