@import '../constants/variable';

.label {
  display: block;
  padding-bottom: 8px;
  color: $text-light-pale;
  color: var(--text-pale);
  text-align: left;
}

.field {
  padding: $spacing-unit * 2 0 0;
  margin: $spacing-unit 0 $spacing-unit * 2;
  position: relative;

  .label {
    position: absolute;
    top: $spacing-unit * 2;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
    transition-property: top, font-size;
  }

  &--filled {
    .label {
      top: 0;
      font-size: 0.7rem;
    }
  }

  &--focused {
    .label {
      color: $primary-color-dark;
      top: 0;
      font-size: 0.7rem;
    }
  }
}

body.dark {
  .field--focused {
    .label {
      color: $primary-color-light;
    }
  }
}

.form-control {
  display: block;
  background: inherit;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 6px 0 7px;
  outline: none;
  box-sizing: content-box;
  border-bottom: 1px solid transparent;
  border-bottom-color: $text-light-pale;
  border-bottom-color: var(--text-pale);
  transition: border-bottom-color 0.2s ease;
  font-size: 1rem;
  color: inherit;
  &:focus {
    outline: none;
    border-bottom-color: transparent;
  }
  &:invalid {
    box-shadow: none;
  }

  & ~ span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $primary-color;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }

  &:focus ~ span {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}

textarea.form-control {
  resize: vertical;
}
