@import '../constants/variable';

.Header {
  background: $primary-color;
  margin: 0 auto;
  padding: $spacing-unit * 2 $spacing-unit;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: padding 0.5s $timing-function-1;
  @media (min-width: $media-mobile) {
    padding: $spacing-unit * 2 $spacing-unit * 3;
  }
  .heading {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    h1 {
      margin: 0;
      text-align: right;
      padding: $spacing-unit / 2 $spacing-unit;
      display: inline-block;
      font-size: 1.5rem;
      width: 100%;
      transition-duration: 0.5s;
      transition-timing-function: $timing-function-1;
      transition-property: font-size, padding;
      @media (min-width: $media-mobile) {
        font-size: 2.25rem;
        padding: $spacing-unit $spacing-unit * 2;
      }
      a:hover {
        border-bottom: none;
      }
      a:focus {
        outline: none;
        border-bottom: 1px solid white;
      }
    }
    & > h1 > a > span {
      &:first-child {
        display: inline-block;
      }
      &:nth-child(2) {
        display: inline-block;
      }
    }
  }

  .hideable {
    font-size: inherit;
    transition: font-size 0.5s $timing-function-1;
  }

  &.shrink {
    padding: $spacing-unit;
    @media (min-width: $media-mobile) {
      padding: $spacing-unit $spacing-unit * 3;
    }
    .heading {
      &:after {
        width: 0.15rem;
      }
      h1 {
        font-size: 1.2rem;
        padding: $spacing-unit/2;
      }
    }
    .hideable {
      font-size: 0;
    }
  }
}
