@import '../constants/variable';

@keyframes subtitle-text-enter {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.landing-page-header {
  $bg: $grey-900;

  padding: $spacing-unit 0;
  box-shadow: inset $box-shadow-3-inv;
  background-color: $bg;

  &-avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: $space;
    top: $space * 4;
    border-width: 6px;
    border-style: solid;
    border-color: $bg-color-light;
    border-color: var(--bg);

    @media screen and (min-width: $media-mobile) {
      right: $space * 2;
      width: 300px;
      height: 300px;
    }

    @media screen and (min-width: $media-tablet) {
      margin: 0 auto -#{$space * 3};
      position: static;
    }
  }

  &-content {
    padding-top: 6 * $spacing-unit;

    @media (min-width: $media-tablet) {
      text-align: center;
      margin: 0 auto;
      max-width: 600px;
      padding-top: 50px;
    }
  }

  &-title {
    font-size: 3rem;
    color: $primary-color;

    @media (min-width: $media-tablet) {
      font-size: 5rem;
      padding: 0 3 * $spacing-unit 2 * $spacing-unit;
    }
  }

  &-subtitle {
    display: inline-block;
    color: $primary-100;
    text-shadow: 0px 1px 5px #222, 0px 1px 5px #333;
    padding: 0;
    position: relative;

    @media screen and (min-width: $media-mobile) {
      padding: $spacing-unit * 2;
    }

    @media (min-width: $media-tablet) {
      display: flex;
      margin: 0;
      align-items: flex-end;
      justify-content: center;
      flex-flow: row;
    }

    li {
      list-style-type: none;
      padding: $spacing-unit * 2;

      @media (min-width: $media-tablet) {
        border-top: none;
        border-bottom: none;
        border-right: 1px solid $grey-300;
        border-left: 1px solid $grey-300;

        &:first-of-type {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }

      & > a {
        text-decoration: none;
        color: inherit;
        line-height: 1.2;

        &:hover,
        &:focus {
          color: $primary-color;
        }
      }

      &:first-of-type {
        & > a {
          display: inline-block;
          animation: subtitle-text-enter 1s 0.2s $timing-function-overshoot both;
        }
      }

      &:nth-of-type(2) {
        & > a {
          display: inline-block;
          animation: subtitle-text-enter 1s 0.6s $timing-function-overshoot both;
        }
      }

      &:last-child {
        border-bottom: none;
        & > a {
          display: inline-block;
          animation: subtitle-text-enter 1s 1s $timing-function-overshoot both;
        }
      }
    }
  }
}
