@import '../constants/variable';

@keyframes subtitle-text-enter {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.landing-page-header {
  padding: $spacing-unit 0;
  box-shadow: inset $box-shadow-3-inv;
  @media (min-width: $media-tablet) {
    min-height: 100vh;
  }

  &::before {
    background-attachment: fixed;
  }

  &-content {
    padding-top: 6 * $spacing-unit;
    text-align: right;

    @media (min-width: $media-tablet) {
      text-align: center;
      margin: 0 auto;
      max-width: 600px;
      margin-top: 300px;
      padding-top: 140px;
    }
  }

  &-title {
    font-size: 3rem;
    color: $primary-color;

    @media (min-width: $media-tablet) {
      font-size: 5rem;
      padding: 0 3 * $spacing-unit 2 * $spacing-unit;
    }
  }

  &-subtitle {
    display: inline-block;
    text-align: right;
    color: #fff;
    text-shadow: 0px 1px 5px #222, 0px 1px 5px #333;
    padding: $spacing-unit * 2 0;
    margin: 0 0 0 auto;
    position: relative;

    @media (min-width: $media-tablet) {
      display: flex;
      margin: 0;
      align-items: flex-end;
      justify-content: center;
      flex-flow: row;
    }

    &::before {
      background-attachment: fixed;
      filter: blur(5px);
      margin: -30px;
    }

    li {
      list-style-type: none;
      padding: $spacing-unit * 2;

      @media (min-width: $media-tablet) {
        border-top: none;
        border-bottom: none;
        border-right: 1px solid $grey-300;
        border-left: 1px solid $grey-300;

        &:first-of-type {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }

      & > span {
        line-height: 1.2;
      }

      &:first-of-type {
        & > span {
          display: inline-block;
          animation: subtitle-text-enter 1s 0.2s $timing-function-overshoot both;
        }
      }

      &:nth-of-type(2) {
        & > span {
          display: inline-block;
          animation: subtitle-text-enter 1s 0.6s $timing-function-overshoot both;
        }
      }

      &:last-child {
        border-bottom: none;
        & > span {
          display: inline-block;
          animation: subtitle-text-enter 1s 1s $timing-function-overshoot both;
        }
      }
    }
  }
}
