@import '../constants/variable';

.List {
  margin: 0;
  position: relative;
  padding: 0 $spacing-unit;
  &--ListItem {
    width: 100%;
    padding: 1.5 * $spacing-unit 0;
    position: relative;
    align-items: center;
    background-color: transparent;
    justify-content: flex-start;
    text-decoration: none;
    text-align: left;
    display: flex;
    border: 2px solid;
    border-color: transparent;
    &.button {
      padding: 0;
      transition-delay: 50ms;
      transition-duration: 300ms;
      transition-timing-function: $timing-function;
      transition-property: background-color, transform;
      transform: scale(1);
      -webkit-tap-highlight-color: transparent;
      &:hover {
        transition-delay: 0;
        background-color: $bg-color-light-pale;
        background-color: var(--bg-absolute);
        transform: scale(1.02);

        @media (prefers-reduced-motion: reduce) {
          transform: none;
        }

        .List--ListItemText {
          .primary {
            color: $link-light;
            color: var(--link);
          }
        }
      }
    }
  }
  &--ListItemText {
    flex: 1 1 auto;
    padding: 0 $spacing-unit;
    &.hide-overflow {
      overflow: hidden;
      .primary,
      .secondary,
      .tertiary {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .primary {
      font-family: $font-family;
      font-size: 1rem;
      line-height: 1.5em;
      color: $text-light;
      color: var(--text);
      transition: color 300ms $timing-function;
    }
    .secondary {
      font-family: $font-family;
      font-size: 0.875rem;
      line-height: 1.4em;
      color: $text-light;
      color: var(--text);
      text-align: justify;
    }
    .tertiary {
      font-family: $font-family;
      font-size: 0.75rem;
      line-height: 1.375em;
      color: $text-light-pale;
      color: var(--text-pale);
      text-align: justify;
    }
  }
  &--ListItemLabel {
    position: absolute;
    top: $spacing-unit;
    right: $spacing-unit;
    background-color: $primary-700;
    color: white;
    font-size: 0.7rem;
    line-height: 1.5;
    padding: 0 $spacing-unit;
    border-radius: 0 0 $spacing-unit / 2 $spacing-unit / 2;
  }
}
