@import '../constants/variable';

.ol {
  display: block;
  counter-reset: step-counter;
  padding-left: 4em;
  > li {
    counter-increment: step-counter;
    list-style-type: none;
    position: relative;
    color: inherit;
    line-height: 1.6em;

    &::before {
      content: counter(step-counter);
      background-color: $primary-color;
      border-radius: $space;
      box-shadow: 0.2em 0.2em 0 rgba(128, 128, 128, 0.2);
      color: #fff;
      font-size: 0.9em;
      line-height: 1;
      display: block;
      width: 2.7em;
      height: 1.2em;
      padding: 2px 0;
      text-align: center;
      position: absolute;
      top: 5px;
      margin: -3px 1em 0 -62px;
      font-variant-numeric: lining-nums;
      font-feature-settings: 'lnum';
    }
  }

  li > & {
    margin-left: -$space * 3;

    @media screen and (min-width: $media-mobile) {
      margin-left: -$space * 2;
    }
  }
}
