@import '../constants/variable';

.page-title-container {
  display: flex;
  justify-content: space-between;
  padding-right: $spacing-unit;
  .theme-toggle-label {
    display: none;
    @media screen and (min-width: $media-mobile) {
      display: inline;
    }
  }
}
