@import '../constants/variable';

.react-tiny-popover-container {
  box-shadow: $box-shadow-3;
}

.popover-content {
  font-size: 0.8rem;
  padding: $spacing-unit;
  background-color: white;
  background-color: var(--bg-absolute);
}
