@import '../constants/variable';

.container {
  display: inline-flex;
  align-items: center;
  padding: $space $space * 2;
  box-shadow: $box-shadow-1;
  color: $text-light-pale;
  color: var(--text-pale);
  border-radius: $space * 3;
  background-color: $grey-100;
  background-color: var(--bg-mid);
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: $space;
  display: inline-block;
}

.img {
  max-height: 100%;
  @apply mx-auto;
}
