@import '../constants/variable';

.ul {
  display: block;
  > li {
    list-style-type: none;
    position: relative;
    line-height: 1.6em;

    &::before {
      content: ' ';
      background-color: $primary-color;
      border-radius: $space;
      display: inline-block;
      width: 15px;
      height: 6px;
      position: absolute;
      top: 10px;
      left: -26px;
    }
  }
}
