---
import type { GetStaticPaths } from 'astro';
import { getSandpackCssText } from '@codesandbox/sandpack-react';
import { CollectionEntry, getCollection } from 'astro:content';
import Layout from '~/components/Layout.astro';
import Container from '~/components/Container';
import BaseHead from '~/components/BaseHead.astro';
import MdContent from '~/components/MdContent.astro';

export const getStaticPaths: GetStaticPaths = async function getStaticPaths() {
  const pratices = await getCollection('practice');

  const paths = pratices.map((practice) => ({
    params: {
      slug: practice.slug,
    },
    props: {
      entry: practice,
    } satisfies Props,
  }));

  return paths;
};

interface Props {
  entry: CollectionEntry<'practice'>;
}

const { entry } = Astro.props;

const { title } = entry.data;
const { Content } = await entry.render();

const sandpackCss = getSandpackCssText();
---

<html lang="en">
  <head>
    <BaseHead title={title} permalink={Astro.url.toString()} />
    <style id="sandpack" is:inline set:html={sandpackCss}></style>
  </head>
  <body>
    <Layout>
      <Container className="mt-12">
        <MdContent title={title}>
          <Content />
        </MdContent>
      </Container>
    </Layout>
  </body>
</html>
