---
import type { GetStaticPaths } from 'astro';
import { getCollection, CollectionEntry } from 'astro:content';
import BaseHead from '~/components/BaseHead.astro';
import MdContent from '~/components/MdContent.astro';
import Container from '~/components/Container';
import Layout from '~/components/Layout.astro';

export const getStaticPaths: GetStaticPaths = async function getStaticPaths() {
  const notes = await getCollection('note');

  return notes.map((note) => ({
    params: {
      slug: note.slug,
    },
    props: {
      entry: note,
    } satisfies Props,
  }));
};

interface Props {
  entry: CollectionEntry<'note'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const permalink = new URL(`note/${entry.slug}`, Astro.site).toString();
---

<html lang="en">
  <head>
    <BaseHead
      title={entry.data.title}
      contentType="article"
      articleType="note"
      permalink={permalink}
    />
  </head>
  <body>
    <Layout>
      <Container>
        <MdContent title={entry.data.title} backUrl="/note">
          <Content />
        </MdContent>
      </Container>
    </Layout>
  </body>
</html>
