---
import type { GetStaticPaths } from 'astro';
import { CollectionEntry, getCollection } from 'astro:content';
import BaseHead from '~/components/BaseHead.astro';
import InstallPrompt from '~/components/InstallPrompt.astro';
import MdContent from '~/components/MdContent.astro';
import SignupForm from '~/components/SignupForm.astro';

export const getStaticPaths: GetStaticPaths = async function getStaticPaths() {
  const notes = await getCollection('note');

  return notes.map((note) => ({
    params: {
      slug: note.slug,
    },
    props: {
      entry: note,
    } satisfies Props,
  }));
};

interface Props {
  entry: CollectionEntry<'note'>;
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<html lang="en">
  <head>
    <BaseHead title={entry.data.title} contentType="article" articleType="note" />
  </head>
  <body>
    <MdContent
      title={entry.data.title}
      headings={headings}
      backUrl="/note/"
      backButtonLabel="Back to all notes"
    >
      <Content />
      <div slot="content-footer">
        <SignupForm class="mb-12 offline:hidden" />
        <InstallPrompt class="mb-12" />
      </div>
    </MdContent>
  </body>
</html>
